.res-table td,
.met-table td {
  text-align: center;
  border: 1px solid #cccccc;
  padding: 10px;
}

.res-des {
  width: 300px;
}

.bgcolor {
  background-color: #eee;
}

.met-bgcolor {
  background-color: beige;
}

.thx-for-add {
  padding: 10px 0px;
  font-weight: bold;
  color: green;
  font-style: italic;
}
